

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Order</h3>
                </div>


                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="orderTbl" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">MenuId</th>
                                    <th scope="col" class="sort" data-sort="name">CustomerId</th>
                                    <th scope="col" class="sort" data-sort="name">orderId</th>
                                    <th scope="col" class="sort" data-sort="name">orderdate</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {

    <script src="~/Assets/Order.js" asp-append-version="true"></script>

}