@{
    ViewData["Title"] = "Roles";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Roles</h3>
                    <div class="col-lg-12  text-right">
                        <a href="/Roles/Create" class="btn btn-md btn-warning">
                            Add Roles
                        </a>
                    </div>
                </div>


                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="rolesTbl" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Roles Name</th>

                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="_CommonResponseModel" />

@section Scripts {

    <script src="~/Assets/Roles.js" asp-append-version="true"></script>
}

















