@{
    ViewData["Title"] = "Modifier Group";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modifier Group</h3>
                    <div class="col-lg-12 text-right">
                        <a href="/ModifierGroup/Create" class="btn btn-md btn-warning">
                            Add modifier group
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="ModifierGroupTbl" class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Modifier Group Name</th>
                                    <th scope="col" class="sort" data-sort="name">Modifier</th>
                                    <th scope="col" class="sort" data-sort="name">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="_CommonDeleteModal" />

@section Scripts {

    <script src="~/Assets/ModifierGroup.js" asp-append-version="true "></script>
}

















